@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body, .panel {
  padding: 0px;
  background: #f8f2ec; 
}

header {
  margin: 0 0 5px 0;
  padding: 0 0 0 0;
  height: auto;
  padding-bottom: 2px;
  overflow-x: hidden;
  font-family: sans-serif;
  text-align: center;
  background-color: #331a00;
}

a {
  color: #b35900;
}

a:visited {
  color: #1a0d00;
}

a:hover, a:focus {
  color: #663300;
}

header div {
  font-size: 1.2em;
  color: #FFF;
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px dashed #130d07;
}

.nav-justified {
  background-color: #f8f2ec;
  border: 1px solid #f8f2ec;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #261a0d;
  text-align: center;
  background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2e6d9), to(#dec0a0));
  background-image: -webkit-linear-gradient(top, #f2e6d9 0%, #dec0a0 100%);
  background-image:      -o-linear-gradient(top, #f2e6d9 0%, #dec0a0 100%);
  background-image:         linear-gradient(to bottom, #f2e6d9 0%, #dec0a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e6d9', endColorstr='#dec0a0',GradientType=0 );
  background-repeat: repeat-x; 
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  color: #f8f2ec;
  background-color: #130d07;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#130d07), to(#4b331b));
  background-image: -webkit-linear-gradient(top, #130d07 0%, #4b331b 100%);
  background-image:      -o-linear-gradient(top, #130d07 0%, #4b331b 100%);
  background-image:         linear-gradient(to bottom, #130d07 0%, #4b331b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130d07', endColorstr='#4b331b',GradientType=0 );
}

.nav-justified > li:first-child > a {
  border-radius: 10px 10px 0px 0px;
}

.nav-justified > li:last-child > a {
  border-bottom: 0px;
  border-radius: 0px 0px 10px 10px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }

  .nav-justified > li > a {
    border-right: 1px solid #4b331b;
    border-left: 1px solid #4b331b;
  }

  .nav-justified > li:first-child > a {
    border-left: 0px;
    border-radius: 10px 0px 0px 10px;
  }

  .nav-justified > li:last-child > a {
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
  }
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:focus {
  border-width: 0px;
}

.btn-primary {
  background-color: #130d07;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #4b331b;
}